[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = new
[access "refs/*"]
	owner = group user/Ramesh J Kasinathan (iamrameshtk)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ramesh J Kasinathan (iamrameshtk)
	label-Verified = -1..+1 group user/Ramesh J Kasinathan (iamrameshtk)
	push = group user/Ramesh J Kasinathan (iamrameshtk)
	read = group user/Ramesh J Kasinathan (iamrameshtk)
	rebase = group user/Ramesh J Kasinathan (iamrameshtk)
	removeReviewer = group user/Ramesh J Kasinathan (iamrameshtk)
	submit = group user/Ramesh J Kasinathan (iamrameshtk)
[access "refs/heads/*"]
	create = group user/Ramesh J Kasinathan (iamrameshtk)
	push = +force group user/Ramesh J Kasinathan (iamrameshtk)
	pushMerge = group user/Ramesh J Kasinathan (iamrameshtk)
	read = group user/Ramesh J Kasinathan (iamrameshtk)
[access "refs/tags/*"]
	push = group user/Ramesh J Kasinathan (iamrameshtk)
	push = +force group user/Ramesh J Kasinathan (iamrameshtk)
